.small_biz, .chinese
  fill $darkred

.national_chains, .nonasian
  fill $darkyellow

.local_chains, .asian
  fill $lightred

.cities2
  .biz-div
    width 100%
    display flex
    flex-wrap wrap
    justify-content center
  div
    float left
    padding 10px 0px
  h4
    font-family $atlas
    font-weight 700
    font-size .8em
    text-align center
    text-transform uppercase
    margin-top 0px

.viz-title
  text-transform uppercase
  text-anchor middle
  font-family $atlas
  font-weight 700
  fill $brown
  font-size .8em
